.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 fit-content;
  width: 100%;
  text-align: center;
  font-size: 4rem;
	line-height: 1.1;
  color: var(--clr-white);
	border: 3px solid var(--clr-white);
  border-radius: 10px;
}

.number_max {
  color: var(--clr-orange);
}